<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-hello-world></app-hello-world><hr>
  <app-interpolation-binding></app-interpolation-binding><hr>
  <app-property-binding></app-property-binding><hr>
  <app-class-binding></app-class-binding><hr>
  <app-style-binding></app-style-binding><hr>
  <app-event-binding></app-event-binding><hr>
  <app-template-reference-variables></app-template-reference-variables><hr>
  <app-two-way-binding></app-two-way-binding><hr>
  <app-ngif-directive></app-ngif-directive><hr>
  <app-ngswitch-directive></app-ngswitch-directive><hr>
  <app-ngfor-directive></app-ngfor-directive><hr>
  <app-component-interaction [parentData]="name" [secondParentData]="name2" (childEvent)="renderSentMessage($event)" ></app-component-interaction>
  <h1>Received Data From Child: {{leReceivedData}}</h1>
  <hr/>
  <app-pipes></app-pipes><hr/>
  <app-services></app-services><hr/>
  <app-error-handling></app-error-handling>
</div>

<div>
  <h1>ROUTED VIEWS</h1>
  <nav>
    <a routerLink="/routed-page1" routerLinkActive="active">Routing Page 1</a>
    <a routerLink="/routed-page2" routerLinkActive="active">Routing Page 2</a>
  </nav>
<router-outlet></router-outlet>
</div>
